body{
    background-color: rgb(9, 70, 70);
}


h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(235, 89, 56);
  padding-top: 50px;
}


.box-contanier{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
}

.box{
    background-color: rgb(71, 146, 146);
    width: 200px;
    padding: 20px;
    border: 2px rgb(217, 224, 217) solid;
    border-radius: 30px;
    
    
}